<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <!-- <div>
    <%#= f.check_box :title %>
    <%#= f.radio_button :content %>
    <%#= f.date_field :nombre_campo %>
    <%#= f.password_field :nombre_campo %>
    <%#= f.hidden_field :nombre_campo %>
    <%#= f.email_field :nombre_campo %>
    <%#= f.collection_select(:city_id, City.all, :id, :name) %>
  </div> -->

  <div>
    <%= f.submit %>
  </div>
<% end %>

<%#= form_tag("/search", method: "get") do %>
  <%#= label_tag(:q, "Search for: ") %>
  <%#= text_field_tag(:q) %>
  <%#= submit_tag("Search") %>
<%# end %>
