<h1>Detalles del Post</h1>

<div>ID: <%= @post.id %></div>
<div>Title: <%= @post.title %></div>
<div>Content: <%= @post.content %></div>

<%#= render @post.comments %>

<%= render "comments/comments" %>

<%= render 'comments/form' %>
